body {
    max-width: 100%;
    max-height: 100%;
   overflow: hidden;
    background-color: rgb(255, 247, 227);
}

.bottom-hands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 22vw;
}

.player-hands {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-bottom: -70vh;
    margin-left: -7vw;
}

.computer-hands {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    margin-bottom: -28vh;
    margin-right: 5vw;
}

#player-fist {
    height: 46vh;
    width: 46vw;
    position: relative;
    top: 3vh;
    left: 9vw;
    transform: rotate(-10deg);
} 

#player-palm {
    height: 40vh;
    width: 40vw;
    margin-left: -5vw;
    margin-bottom: -60vh;
    position: relative;
    top: -12vh;
    left: 18vw;
}

#computer-palm {
    height: 38vh;
    width: 38vw;
    position: relative;
    margin-right: -20vw;
    margin-bottom: -70vh;
    top: 20vh;
    z-index: 1;
}

#computer-fist {
    height: 46vh;
    width: 46vw;
    position: relative;
    top: 38vh;
    left: -4vw;
    transform: rotate(-10deg);
    z-index: 10;
}

